#main {
    background-color: #201d1e;
}

.pagetext {
    color: white;
    font-family: "dosis", sans-serif;
    margin: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
}

#title-subtext {
    font-size: 34px;
}
  
::selection {
    background: #29B6F6
}

::-moz-selection {
    background: #29B6F6
}

.social-media-icon {
    padding: 5px;
    padding-top: 50px;
}