body {
  background-color: #201d1e;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: "dosis", sans-serif;
  justify-content: center;
}

.pagetext {
  width: 30vw;
  margin-top: 10%;
  padding-bottom: 20px;
  border: white;
  border-radius: 1em;
  border-style: solid;
  box-shadow: 5px 5px white;
}

.pagetext:hover {
  border-top: #29b6f6;
  border-left: #29b6f6;
  border-radius: 1em;
  border-style: solid;
}

h1 {
  font-size: 45px;
  margin-bottom: 0;
}

a {
  text-decoration: underline;
  color: white
}

::selection {
  background: #29b6f6;
}

::-moz-selection {
  background: #29b6f6;
}

.social-media-icon {
  padding: 5px;
  padding-top: 20px;
}

#content-links {
  color: white;
}

li.quotes {
  width: 30vw;
  margin: 30px;
}